export KAFKA_OPTS=-Djava.security.auth.login.config=/opt/kafka/config/kafka-broker-jaas.conf
[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=root
ExecStart=/bin/sh -c '/opt/kafka/bin/kafka-server-start.sh /opt/kafka/config/server.properties > /opt/kafka/kafka.log 2>&1'
ExecStop=/opt/kafka/bin/kafka-server-stop.sh
Restart=on-abnormal
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
Environment=KAFKA_OPTS=-Djava.security.auth.login.config=/opt/kafka/config/kafka_server_jaas.conf

[Install]
WantedBy=multi-user.target
